<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test htm</title>
</head>
<body>
    <h1>Welcome to XXCENT</h1>

    <a href="{{ url_for('index') }}">Go to home →</a>
    <a href="{{ url_for('guess') }}">Go to guess →</a>
    <a href="{{ url_for('blog') }}">Go to blog →</a>

    <footer>
        <p>Copyright {{curr_date}}. Built by Ed Phred</p>
    </footer>
</body>
</html>